<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Aiport</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over flights using forEach -->
    <% flights.forEach(function(f) { %>

      <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs.toLocaleString() %></td>
        <td><a href="/flights/<%= f.id%>">Details</a></td>
      </tr>
  <% }) %>
    <!-- Close the forEach using EJS here -->
  </tbody>
</table>

<%- include('../partials/footer') %>